body{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
/* For containers */
/* Used Flex BOX for responsiveness */
.results{
    margin-left:10%;
    width:80vw;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
}
.result{
    background-color: azure;
    width:20%;
    height: 20%;
    padding:20px;
    margin: 20px;
    box-shadow:  0 4px 8px 0 black;
}
.result:hover{
    transform: scale(1.1);
    background:linear-gradient(to right, #c31432, #240b36); 
    transition-duration: 0.5s;
}
/* FOR SEARCH BAR */
.searchbar{
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#search{
    font-size:20px;
    border:none;
    position:relative;
    display:block;
    cursor:pointer;
    outline:none;
    padding-left:2px;
    letter-spacing:1px;
    background-color:whitesmoke;
    border-radius:10px;
    box-shadow:0 6px #c31432;
  }
  #search:hover{
    box-shadow:0 4px #c31432;
    top:2px;
  }
  #search:active{
    box-shadow:none;
    top:4px;
  }
#submit{
    width:50px;
    height:50px;
    cursor: pointer;
    margin-left:5px;
    border-radius: 50%;
}
#submit:hover{
    background: linear-gradient(to right, #c31432, #240b36);
}
/* Image css */
#rImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:125px;
    width:125px;
}
h3{
    text-align: center;
    font-family: 'Gill Sans MT';
    overflow-wrap: break-word;
}
/* resposiveness for different devies */
@media only screen and (max-width: 700px) {
    #rImg{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height:60px;
        width:70px;
    }
    h3{
        text-align:left;
    }
}
  